{% extends 'base.html' '' %}
{% block title %}
<title>Apliación</title>
{% endblock %}

{% block content %}
<div class="container text-center mt-1">
    <div class="row">
      <div class="col-6 col-sm-5 card p-0">
        {% if imagine == None %}
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a2/Nuvola_apps_error.svg/1200px-Nuvola_apps_error.svg.png" alt="">
        {% else %}  
          <img src="http://127.0.0.1:5000/img" alt="No image">
        {% endif %}

      </div>
      <div class="col-6 col-sm-5 card">
        {% if binarization == None %} 
          <img src="https://previews.123rf.com/images/boxerx/boxerx1611/boxerx161100006/68882648-descargar-signo-en-fondo-blanco-cargar-icono-barra-de-carga-de-datos-ilustraci%C3%B3n-de-stock-vector.jpg" alt="">
        {% else %}
          <img src="" alt="">
        {% endif %}

      </div>
      <div class="row">
        <div class="col-6 col-sm-5 card mt-1">Presets</div>
        {% if binarization == None and message!=None %} 
          <div class="col-6 col-sm-5 card mt-1">Mensajes</div>
          {% endif %}

          {% if message == None %}
          

          {% endif %}

          {% if binarization != None  %}
          <div class="col-6 col-sm-5 card mt-1">Opciones</div>
          {% endif %}
      </div>
      {% if imagine == None %}
      <div class="row mt-1">
        <div class="col-6 col-sm-5 card text-danger">Error de conexion no es posible cargar la imagen</div>
      </div>
      {% else %}

      <div class="row mt-1">
       
        <div class="col-6 col-sm-5 card mt-1 ps-5 pt-2">
          <form method="POST" action="/prebinarization">
            
            {% for i in preserts %}
             {{i.filename}} <input class="row mb-1" type="checkbox" value="{{i.value}}" name="mycheckbox">  
            {% endfor %}
            <input class="row mb-1 btn btn-primary" type="submit"  >
          </form>
        </div>
        {% if binarization == None and message!=None %}
        <div class="col-6 col-sm-5 card text-danger">{{message}}</div>
      {% endif %}
      </div>
      {% endif %}
  </div>
{% endblock %}